*.pg_backup
.~c9*
**/node_modules/*package-lock.json
node_modules
logs
logs/*
*.log
gunicorn-error.log
gunicorn.log
logfile
env
ENV
env/*
ENV/*
venv/*
venv
venv/*
*.pyc
*.idea/*
.idea
.idea/*
.DS_Store
*.DS_Store
.settings/*
elms/static/ebook
db_backup
*.dump

celerybeat-schedule

crawl_data/download/*
crawl_data/crawler.log

hongnew-db.db

#build/*
#build

celerybeat-schedule
log.txt
elms/static/integration_resource/import_from_excel/report
elms/static/integration_resource/import_from_excel/result
crawl_data/download/*
crawl_data/crawler.log
dump.rdb
.dropbox
Icon\r
/alter column.txt
Icon
/compressor/
/node_modules/
/w_func.txt

.settings
.vagrant
.project
.pydevproject

hong-db.db
*.db

phuong-db.db
duan-db.db
output.html
*.tmp
*.sqlite3
local_settings.py
*.db-journal
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
local_settings_migrate.py
local_settings_temp.py
/venv
.fuse_hidden*
.cache

build
performance/migrations/0069_auto_20160107_1106.py
phantomjs
__pycache__/
api/__pycache__/
company/__pycache__/
company/services/__pycache__/
crm/__pycache__/
crm/management/commands/__pycache__/
deepmind/__pycache__/
elms/__pycache__/
elms/setting_modules/__pycache__/
elms/static/bower_components/showdown/src/
elms/static/bower_components/showdown/test/
management/__pycache__/
performance/__pycache__/
performance/controllers/__pycache__/
performance/data/__pycache__/
performance/services/__pycache__/
performance/templatetags/__pycache__/
performance/test/__pycache__/
phantomjs/
user_profile/__pycache__/
user_profile/services/__pycache__/
utils/__pycache__/
yp/__pycache__/
ghostdriver.log
.bash_history
.ssh
db/
test_db
*.swp
.vscode/*
dbdump
venv-zappa
api/.pythoscope/*
api/_olds/
elms/settings_test_dev.py
elms/static/v5/bower_components/js-xlsx/test_files/
/elms/duan_local_settings_sample.py
/elms/local_settings_1.py
/web.config
/web.config.bk
performance/templates/performance/bsc/_old/
storages/
media/
.dpl/
elms/settings_test_local.py
*debug.txt
desktop_app/node_modules/*
desktop_app/.vscode/*
.coverage
.nyc_output/
coverage/
package-lock.json
prof/*
/htmlcov/

*.md
*.exe